@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --mainColor: #6532fe;
  --auxiliarColor: #1df7c0;
  --greyColor: #e3e3e3;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  width: 375px;
  background-color: antiquewhite;
  padding-top: 1.5rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}


.peliculas-carrousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-right: 0;

}

.h2-titles,
.h1-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0;

}

.inactivo {
  display: none;
}

.hidden {
  visibility: hidden;
}